[Desktop Entry]
Name=Specimen
Comment=MIDI controlled audio sampler
Comment[pl]=Kontrolowany przez MIDI sampler dźwiękowy
Exec=specimen
Terminal=false
Type=Application
Categories=GTK;GNOME;Audio;Midi;
# vi: encoding=utf-8
