[Desktop Entry]
Encoding=UTF-8
Name=Specimen
Comment=MIDI controlled audio sampler
Comment[pl]=Kontrolowany przez MIDI sampler dźwiękowy
Exec=specimen
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
# vi: encoding=utf-8
